<html>
<head>
   
</head>
<body>

    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Administração Casa do Código</a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/produtos/form"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a></li>
                        <li><a href="/produtos"><span class="glyphicon glyphicon-menu-hamburger"></span> Listagem de livros</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/promocoes/form"><span class="glyphicon glyphicon-plus-sign"></span> Nova promoção</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- FINAL NAV -->